* {
    box-sizing: border-box;
}
h1 {
    display: flex;
    height: 100px;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper { 
    display: flex;
}

body {
    font-family: system-ui, sans-serif;
    margin: 50px
    justify-content: center;

}
header{justify-content: center;}


h2 {
    outline: 1PX SOLID red;
    height: 100px;
    width: 1400px;

}


